<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782791399409-e5kc8hat4f0cokf1guqn96820imbaj6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782791399409-e5kc8hat4f0cokf1guqn96820imbaj6v</string>
	<key>API_KEY</key>
	<string>AIzaSyBo0KS1ENCFG_YJd1pTc-QoxezF-QVMHx8</string>
	<key>GCM_SENDER_ID</key>
	<string>782791399409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nour</string>
	<key>PROJECT_ID</key>
	<string>social-app-udemy-e8df7</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-udemy-e8df7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782791399409:ios:a68b0727c43ad07f345650</string>
</dict>
</plist>